.modal {
    position: fixed;
    inset: 0;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    background-color: var(--overlay-color);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75);
}

.trip-popup {
    position: relative;
    flex: 1;
    max-width: 380px;
    padding: 25px 40px 30px;
    background-color: var(--color-white);
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.trip-popup__close {
    position: absolute;
    top: 15px;
    right: 25px;
    padding: 0;
    font-weight: 300;
    font-size: var(--font-size-400);
    line-height: 1;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.7;
}

.trip-popup__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.trip-popup__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    padding-top: 15px;
    border-top: 1px solid var(--color-gray);
}

.trip-popup__total-value {
    font-weight: 600;
    font-size: var(--font-size-400);
}

.trip-info {
    width: 100%;
    max-width: 300px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-gray);
}

.trip-info__title {
    margin: 0 0 5px;
    font-weight: 600;
    font-size: var(--font-size-400);
    font-family: 'Playfair Display', serif;
}

.trip-info__content {
    display: flex;
    font-weight: 300;
}

.trip-info__duration {
    min-width: 120px;
    padding-left: 25px;
    background-image: url('../../assets/images/calendar.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 15px;
}

.trip-info__level::before {
    content: '•';
    margin-right: 10px;
    color: var(--color-blue-200);
}

.trip-info__error {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-gray);
}

.trip-info__title__error {
    font-weight: 600;
    font-size: var(--font-size-400);
}

.trip-popup-error {
    max-width: 100%;
    padding: 25px 40px 30px;
    background-color: var(--color-white);
    box-shadow: var(--shadow);
    border-radius: 10px;
    border: 2px solid #e30834;
}

.trip-info__level__error {
    margin: 0 auto;
    color: var(--color-blue-300);
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}